body {
    background-color: #f7e4d4;
}

* {

    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
    
}

button {

    appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 0;
}



.root {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    margin:auto;
    text-align:center;
}

.visszajelzes {
    font-size: 48px;
    font-family: 'EB Garamond', serif;
    margin-bottom: 20px;
}

.visszajelzes::placeholder {
    position: absolute;
    top: 0;
}

@media screen and (max-width: 520px) {
    .visszajelzes {
        font-size: 36px;
        text-align: left;
    }

    #targy {
        width: calc(100% - 40px);
    }

    #megjegyzes {
        width: calc(100% - 40px);
    }
}

#targy {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 480px;
    height: 64px;
    color: #467745;
}

#megjegyzes {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    max-width: 480px;
    height: 120px;
    color: #467745;
}

input#targy {
    margin-bottom: 20px;
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 20px;
    color: #467745;
    
}

a {
    color:  #467745;
}

div.container input[type="checkbox"] {
   
    min-width: 20px;
    min-height: 20px;

    place-content: center;
    margin: 0 20px 0 0px;
    border: 1px solid rgba(0, 0, 0, 0.65);
    border-radius: 2px;
    background-color: white;
}

.submit-btn {
    font-family: 'EB Garamond', serif;
    font-size: 21px;
    display: block;
    text-align: center;
    max-width: 280px;
    height: 80px;
    background-color: #467745;
    color: #f7e4d4;
    letter-spacing: 0.2em;  
    border-radius: 12px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    cursor: pointer; 
    width: 80vw;
}